@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

  body, html {
    height: 100%;
    margin: 0;
}

body {
    /* the background image */
    background-image: url(https://cdn.pixabay.com/photo/2016/01/19/17/29/earth-1149733__480.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 100vh; 
    width: 100vw;
    background-position: center; 
    font-family: 'Space Grotesk', sans-serif;
}

.all {
  max-height: 100%;
  max-width: 100%;
}

.space {
  display: flex;
  justify-items: center;
  min-width: 100vw;
  max-height: 94vh;
}

.navBar {
  background-color: black;
  color: white;
  min-width: 9.7%;
  border: solid white;
  border-radius: 15px;
  border-width: 0.3%;
  height: 97%;
  padding: 5px;
}

.topBar {
  border: solid white;
  border-radius: 15px;
  margin: 5px;
  border-width: 0.5vh;
  width: 98%;
  background-position: center;;
  height: 4vh;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: white;
}



.logout {
  margin: 9px;
  background-color: white;
  font-family: 'Space Grotesk', sans-serif;
  padding: 5px;
}


.fullscreen, .download {
  border: none;
  border-radius: 5px;
  background-color: rgb(50, 50, 50);
  color: rgb(220, 220, 220);
  font-family: 'Space Grotesk', sans-serif;
  padding: 3px;
  margin-bottom: 5px;
  width: 100%;
}

ul {
height:200px; 
overflow:hidden; 
overflow-y:scroll;
}



.favs button {
  background-color: rgba(20,20,20,0.4);
  color: white;
  border: none;
}

.mainPage {
  min-width: 90%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  align-content: center;
}

.options {
  order: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}




.sub {
  order: 5;
  justify-content: center;
  margin-top: 12px;
}



h1 {
    order: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
}

form {
    width: 50%;
    height: 30%;
    display: flex;
    flex-direction: column;
    order: 2;
    align-items: center;  
    /*background-color: rgba(255,255,255,0.5);*/
    border: solid;
    border-color: white;
    border-radius: 16px;
    margin: 10px;
  }

  input[type=text]{
    background-color: black;
    color: white;
    padding: 10px 15px;
    margin: 6px;
    margin: 20px;
  }

.favorite {
    order: 6;
    color: white;
    background-color: black;
    border-radius: 8px;
    margin: 5px;
    font-size: larger;
    display: block;
    float: below;
    font-weight: bold;
    padding: 5px;
    border: solid;
    border-color: white;
  }

.delete button {
  font-size: 10px;
  border: solid;
  border-width: thin;
  border-color: grey;
  border-radius: 5px;
}

.screenshot {
    
    order: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 768px;
    height: 432px;
    background-color:rgba(20,20,20,0.4);
}

.screenshot img {

 max-width: 700px;
 max-height: 300px;
}
  
.images {
  max-width: 700px;
  object-fit: contain;
    
}

.single {
  max-width: 700px;
  object-fit: contain;
}

.sideBySide img {
  margin: 4px;
  object-fit: contain;
  flex-shrink: -8;
  max-width: 300px;
  max-height: 100%;
}


.sideBySide {
  flex-shrink: 1;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

  input {
    font-family: 'Space Grotesk', sans-serif;
    background-color: black;
    border: white;
    color: white;
    padding: 7px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }

  select {
      border-radius: 5px;
      margin: 20px;
      padding: 10px;
      background-color: black;
      color: whitesmoke;
      left: 20px;
  }

  input[type=checkbox] {
        color: black;
  }

  /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  max-height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(29, 32, 34);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}